:root {
	--primary-brand: #4d5ae5;
	--dark: #2e2f42;
	--success: #31d0aa;
	--text: #434455;
	--subtle-text: #8e8f99;
	--accent: #e7e9fc;
	--light: #f4f4fd;
	--primary-white-color: #ffffff;
	--ocean: #404BBF;

	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
/* ==============Commons============== */
body {
	background-color: var(--primary-white-color);
	color: var(--dark);
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: calc(24 / 16);
	letter-spacing: 0.02em;
	margin: 0;
}

.section {
	padding-top: 96px;
	padding-bottom: 96px;
}
@media screen and (min-width: 1200px) {
	.section {
		padding-top: 120px;
		padding-bottom: 120px;
	}
}

.section.no-padding {
	padding-bottom: 0px;
} 
.section-title {
	font-size: 36px;
	line-height: calc(40 / 36);
	text-align: center;
	text-transform: capitalize;
	margin-top: 0;
	margin-bottom: 72px;
} 
.conteiner {
	min-width: 320px;
	max-width: 428px;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}
@media screen and (min-width: 768px) {
	.conteiner {
		max-width: 768px;
	}
}
@media screen and (min-width: 1200px) {
	.conteiner {
		max-width: 1158px;
		padding-left: 15px;
		padding-right: 15px;
	}
}
.list {
	list-style: none;
	margin: 0;
	padding: 0;
	
}
 @media screen and (min-width: 768px) {
	.list {
	display: flex;
	}
}
@media screen and (min-width: 1200px) {
	.list {
	justify-content: space-between;
	}
}
.list-title {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(40 / 36);
	margin-bottom: 8px;
	margin-top: 0px;
}
@media screen and (max-width: 767.98px) {
	.list-title {
		text-align: center;
	}
}
@media screen and (min-width: 1200px) {
	.list-title {
		font-weight: 500;
		font-size: 20px;
		line-height: calc(24 / 20);
		margin-top: 8px;
		
	}  
}
.list-text {
	font-weight: 500;
	color: var(--text);	
	margin-top: 0;
	margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
	.list-text {
	font-weight: 400;
	/* margin-top: 0; */
	margin-bottom: 8;
	}
}
/* Header */

header {
	border-bottom: 1px solid var(--accent);
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.conteiner.header {
	display: flex;
	align-items: center;
}
/* Logo */
.logo {
	display: block;
	padding-top: 24px;
	padding-bottom: 24px;

	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: calc(24 / 18);
	letter-spacing: 0.03em;
	text-decoration: none;
	color: var(--dark);

}
.logo-prefix {
	color: var(--primary-brand);
}
@media screen and (max-width: 767.98px) {
	.site-nav {
		display: none;
	}
	.header-contacts {
		display: none;
	}
}
@media screen and (min-width: 768px) {
	.site-nav {
		display: flex;
		margin-left: 77px;
	}
	
	.site-nav-link {
		position: relative;
		display: block;
		padding-top: 24px;
		padding-bottom: 24px;
	
		font-weight: 500;
		text-decoration: none;
		color: var(--dark);
		transition: color 250ms var(--timing-function);
	}
	.site-nav-link.current::after {
		content: "";
	
		position: absolute;
	
		width: 100%;
		height: 4px;
	
		left: 0px;
		bottom: 0;
	
		background-color: var(--ocean);
		border-radius: 2px;
	}
	.site-nav-link.current {
		color: var(--primary-brand);
	}
	.site-nav-item .header-contacts-link {
		display: flex;
		text-decoration: none;
		color: var(--text);
		transition: color 250ms var(--timing-function);
	}
	.header-contacts {
		display: flex;
		flex-direction: column;	
		margin-left: auto;
				
	}
	.site-nav-item.contacts {
		display: block;
		text-align: center;
	}

	.contact-text {
		font-size: 12px;
		line-height: calc(16/12);
		letter-spacing: 0.04em;
	}
	.site-nav-link:hover,
	.site-nav-link:focus,
	.site-nav-link.current:hover,
	.site-nav-link.current:focus {
		color: var(--text);
	}
	.site-nav-item:hover .header-contacts-link,
	.site-nav-item:focus .header-contacts-link,
	.site-nav-link:active,
	.site-nav-link.current:active {
		color: var(--primary-brand);
	}
		.site-nav-item+.site-nav-item {
			margin-left: 40px;
		}
		.site-nav-item.contacts {
			margin-left: 0;
		}

}
@media screen and (min-width: 1200px) {
	.site-nav-item+.site-nav-item {
			margin-left: 40px;
	}
	.header-contacts {
		display: flex;
		flex-direction: row;
		margin-left: auto;
		
	}
	.contact-text {
		font-size: 16px;
		line-height: calc(24/16);
		letter-spacing: 0.02em;
	}
}
/* Hero */
.section.hero {
	height: 432px;
	margin-left: auto;
	margin-right: auto;

	padding-top: 112px;
	padding-bottom: 112px;

	background-color: var(--dark);
	border: 1px solid #000000;

	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office_428.jpg);
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
	.section.hero {
		background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office_428_@2x.jpg);
	}
}
@media screen and (min-width: 768px) {
	.section.hero {
		background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office_768.jpg);
	}
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (min-resolution: 2dppx) {
	.section.hero {
		background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office_768_@2x.jpg);
	}
}
@media screen and (min-width: 1200px) {
	.section.hero {
		background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office_1440_.jpg);
	}
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
screen and (min-width: 1200px) and (min-resolution: 192dpi),
screen and (min-width: 1200px) and (min-resolution: 2dppx) {
	.section.hero {
		background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office_1440_@2x.jpg);
	}
}

@media screen and (min-width: 768px) {
	.section.hero {
		height: 436px;
	}
}
@media screen and (min-width: 1200px) {
	.section.hero {
		height: 600px;
		padding-top: 188px;
	}
}
.hero-title {
	width: 318px;
	
	margin-right: auto;
	margin-left: auto;
	
	color: var(--primary-white-color);
	font-weight: 700;
	font-size: 36px;
	line-height: calc(40 / 36);
	text-transform: capitalize;
	text-align: center;
	margin-top: 0;
	margin-bottom: 72px;
	
}
@media screen and (min-width: 768px) {
	.hero-title {
		width: 494px;
		
		margin-right: auto;
		margin-left: auto;
		font-size: 56px;
		line-height: calc(60 / 56);
		margin-bottom: 40px;
	}
}
@media screen and (min-width: 1200px) {
	.hero-title {
		width: 492px;
		margin-right: auto;
		margin-left: auto;
	}
}

/* button */
.button {
	background-color: var(--primary-brand);
	color: var(--primary-white-color);
	cursor: pointer;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: calc(24 / 16);
	letter-spacing: 0.04em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	padding: 16px 32px;
	min-width: 170px;
	border: transparent;
	text-align: center;
	transition: background-color 250ms var(--timing-function);
}
/* .button:hover, .button:focus, .button:active {
	background-color: var(--ocean);
} */

/* Benefits */
@media screen and (max-width: 1199.98px) {
	.benefits-item {
		/* max-width: 396px; */
		margin-bottom: 72px;
		
	}
	.benefits-item:nth-last-child(-n+1) {
		margin-bottom: 96px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
	.benefits.list {
		flex-wrap: wrap;
	}
	.benefits-item {
		width: calc((100% - 24px)/2);
		margin-right: 24px;
		margin-bottom: 72px;
	}
	.benefits-item:nth-child(2n) {
		margin-right: 0;
	}
	.benefits-item:nth-last-child(-n + 2) {
		margin-bottom: 96px;
	}
}
@media screen and (min-width: 1200px) {
	.benefits-item {
		width: 264px;
	}
}
.benefits-icon-area {
	display: flex;
	height: 112px;
	background-color: var(--light);
	justify-content: center;
	align-items: center;
}
.benefits-icon {
	width: 64px;
	height: 64px;
}
@media screen and (max-width: 1199.98px) {
	.benefits-icon-area {
		display: none;
	}
}
/* What are we doing */
.strategy-item {
	background-color: var(--primary-white-color);
	border: 1px solid var(--accent);
}
.strategy-item-img,
.team-item-img,
.portfolio-item-img,
.portfolio-item-img {
	display: block;
	max-width: 100%;
	height: auto;
}
@media screen and (max-width: 1199.98px) {
	.strategy.section {
		display: none;
	}
}
/* Our Team */
.section-team {
	background-color: var(--light);
}
.conteiner-team {
	padding-bottom: 32px;
}

.team-item {
	margin-left: auto;
	margin-right: auto;
	width: 260px;
	background-color: var(--primary-white-color);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
	margin-bottom: 72px;
	
}
.team-item:nth-last-child(-n+1) {
	margin-bottom: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
	.conteiner-team {
		padding-left: 108px;
		padding-right: 108px;
		padding-bottom: 0;
	}
	.team.list {
		flex-wrap: wrap;
	}
	.team-item {
		width: calc((100% - 24px)/2);
		margin-right: 24px;
		margin-bottom: 64px;
	}
	.team-item:nth-child(2n) {
		margin-right: 0;
	}
	.team-item:nth-last-child(-n+2) {
		margin-bottom: 8px;
	}
}
@media screen and (min-width: 1200px) {
	.conteiner-team {
		padding: 0;
	}
	.team-item{
		margin-bottom: 0;
	}
}
.content {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;

}
.team.list-title {
	font-weight: 500;
	font-size: 20px;
	line-height: calc (24/20);
	letter-spacing: 0.02em;
	color: var(--dark);
}
.team.list-text {
	margin-bottom: 8px;
}
.soc.list {
	display: flex;
	justify-content: space-between;
}
.team-item .content {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 32px;
	padding-bottom: 32px;
	text-align: center;
}
.soc-item {
	width: 40px;
	height: 40px;
}
.soc-link {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: var(--primary-brand);
	border-radius: 50%;
	align-items: center;
	justify-content: center;
}
.soc-icon {
	width: 16px;
	height: 16px;
}


/* Customers */
.customer.list {
	display: flex;
	flex-wrap: wrap;
}
@media screen and (max-width: 767.98px) {
	.customer-item {
		width: calc((100% - 16px)/2);
		margin-right: 16px;
		margin-bottom: 72px;
	}
	.customer-item:nth-child(2n) {
		margin-right: 0;
	}
	.customer-item:nth-last-child(-n+2) {
		margin-bottom: 0;
	}
}
.customers-link {
	display: flex;
	align-items: center;
	justify-content: center;
	/* max-width: 190px; */
	height: 88px;
	color: var(--subtle-text);
	border: 1px solid var(--subtle-text);
	border-radius: 4px;
	transition: border 250ms var(--timing-function), color 250ms var(--timing-function);
}
.customers-icon {
	max-width: 110px;
	height: 56px;
	fill: currentColor;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
	.customer.conteiner {
		padding-right: 108px;
		padding-left: 108px;
	}	
	.customer-item {
		width: calc((100% - 48px) / 3);
		margin-right: 24px;
		margin-bottom: 72px;
	}
	
	.customer-item:nth-child(3n) {
		margin-right: 0;
	}
	
	.customer-item:nth-last-child(-n + 3) {
		margin-bottom: 0;
	}
	.customers-link {
		width: 168px;
	}
	.customers-icon {
		width: 104;
	}
}
@media screen and (min-width: 1200px) {
	.customers-link {
		width: 168px;
	}
	.customers-icon {
		width: 104px;
	}
}
.customers-link:hover, .customers-link:focus {
	border: 1px solid var(--primary-brand);
	color: var(--primary-brand);	
}

/* Footer */
.footer {
	padding-top: 96px;
	padding-bottom: 96px;
	background: var(--dark);
}
@media screen and (min-width: 768px) {
	.footer-conteiner {
		display: flex;
		flex-wrap: wrap;
	}
	
}
@media screen and (min-width: 1200px) {
	.footer-conteiner {
		display: flex;
		flex-wrap: nowrap;
	}

}

.footer-item {
	max-width: 268px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
	.footer-item {
		min-width: 264px;
		margin-right: 24px;
		margin-left: 92px;
	}	
} 
@media screen and (min-width: 1200px) {
	.footer-item {
		min-width: 264px;
		margin-right: 120px;
		margin-left: 0;
		margin-bottom: 0;
	}
}
.footer-logo {
	width: 100%;
	display: block;
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: calc(21 / 18);
	letter-spacing: 0.03em;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--light);
	margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
	.footer-logo {
		text-align: left;
	}
}
.footer-logo-prefix {
	color: var(--primary-brand);
}
.footer-text {
	color: var(--accent);
}
.footer-soc {
	max-width: 208px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
	.footer-soc {
		text-align: left;
		min-width: 208px;
		margin-left: 0;
	}
}
@media screen and (min-width: 1200px) {
	.footer-soc {
		margin-right: 80px;
		margin-bottom: 0;
	}
}
 .footer-soc-text {
 	color: var(--primary-white-color);
 	font-weight: 500;
 	font-size: 16px;
 	line-height: calc(24px/16px);
 	letter-spacing: 0.02em;
	margin-bottom: 16px;
 }
 .footer-soc-link {
 	display: flex;
 	width: 100%;
 	height: 100%;
 	background: rgba(255, 255, 255, 0.1);
 	border-radius: 50%;
 	align-items: center;
 	justify-content: center;
 	transition: background-color 250ms var(--timing-function);
 }
 .footer-soc-link:hover,
 .footer-soc-link:focus {
 	background-color: var(--success);
 }
 .footer-subscribe {
	max-width: 396px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
 }
 @media screen and (min-width: 768px) {
	.footer-subscribe {
		width: 453px;
		text-align: left;
		margin-left: 92px;
	}
 }
  @media screen and (min-width: 1200px) {
  	.footer-subscribe {
  		margin-left: 0;
  	}
  }
 .footer-input-email {
 	width: 100%;
 	height: 40px;
	padding-left: 16px;
	margin-bottom: 16px;

 	background-color: transparent;
 	border: 1px solid rgba(255, 255, 255, 0.3);
 	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
 	border-radius: 4px;

 	font-size: 12px;
 	line-height: calc(24 / 12);
 	letter-spacing: 0.04em;
 	color: rgba(255, 255, 255, 0.6);
 }
 @media screen and (min-width: 768px) {
	.footer-subscribe-field {
		display: flex;
	}
	.footer-input-email {
		min-width: 264px;		
	}
	.footer-input-email + .footer-submit-button {
		margin-left: 24px;
	}
	
 }
 .footer-input-email::placeholder {
 	font-size: 12px;
	line-height: calc(24 / 12);
 	letter-spacing: 0.04em;
 	color: rgba(255, 255, 255, 0.6);
 }
 .footer-submit-button {
 	min-width: 165px;
 	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	

 	background-color: var(--primary-brand);
 	border: transparent;
 	border-radius: 4px;

 	font-weight: 500;
 	font-size: 16px;
 	line-height: calc(24 / 16);
 	letter-spacing: 0.04em;
 	color: var(--primary-white-color);
 }
 .sub-icon {
 	width: 24px;
 	height: 24px;
 	margin-left: 16px;
 }

/* ===============PORTFOLIO================= */
.filter {
	display: flex;
}

@media screen and (max-width: 767.98px) {
	.section.portfolio {
		padding: 48px 16px;
	}
	.filter {
		flex-wrap: wrap;
		justify-content: flex-start;
		/* align-items: center; */
		margin-bottom: 48px;
	}
	.filter-item {
		margin-right: 24px;
		margin-bottom: 16px;
	}
	.filter-item:nth-last-child(-n+2) {
		margin-bottom: 0;
	}
	.filter-item:last-child {
		margin-right: 0;
	}


}
@media screen and (min-width: 768px) {
	.section.portfolio {
		padding: 64px 16px;
	}
	.filter {
		justify-content: center;
		margin-bottom: 64px;
	}
	.filter-item+.filter-item {
		margin-left: 24px;
	}
}

@media screen and (min-width: 1200px) {
	.filter {
			margin-bottom: 72px;
	}
}
.filter-button {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;

	background-color: var(--light);
	color: var(--primary-brand);
	cursor: pointer;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: calc(24 / 16);
	letter-spacing: 0.04em;

	border: 1px solid var(--accent);
	border-radius: 4px;
	transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), border 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}


.filter-button:hover,
.filter-button:focus,
.filter-button.current {
	background-color: var(--primary-brand);
	color: var(--primary-white-color);
	border: 1px solid transparent;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio.list {
display: flex;
background-color: var(--primary-white-color);
}
.list-title.portfolio {
	font-weight: 500;
	font-size: 20px;
	line-height: calc(24/20);
		
	letter-spacing: 0.02em;
	color: var(--dark);
	text-align: left;
}
@media screen and (max-width: 767.98px) {
	.portfolio.list {
		flex-direction: column;
		}
	.portfolio-list {
		margin-bottom: 48px;
	}

}
@media screen and (min-width: 768px) {
	.portfolio.list {
		display: flex;
		flex-wrap: wrap;
		background-color: var(--primary-white-color);
	}
		.portfolio-list {
		width: calc((100% - 24px) / 2);
		margin-right: 24px;
		margin-bottom: 48px;
		
	}
		.portfolio-list:nth-child(2n) {
		margin-right: 0;
	}
		.portfolio-list:nth-last-child(-n + 2) {
		margin-bottom: 0;
	}
}
@media screen and (min-width: 1200px) {
.portfolio-list {
	width: calc((100% - 48px) / 3);
	margin-right: 24px;
	margin-bottom: 48px;
	
}
	.portfolio-list:nth-child(3n) {
	margin-right: 0;
}
	.portfolio-list:nth-last-child(-n + 3) {
	margin-bottom: 0;
}
}
 .portfolio-list .content {
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 16px;

	border: 0.5px solid var(--light);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);	
} 


.work-link {
	display: block;
	text-decoration: none;
	color: var(--dark);
	width: 100%;
	height: 100%;
	transition: box-shadow 250ms var(--timing-function);	
}
.thumb {
	position: relative;	
	overflow: hidden;
}
.work-link .card-content {
	position: absolute;
	width: 100%;
	height: 100%;
	
	top: 0;
	left: 0;

	margin-top: 0;
	margin-bottom: 0;

	padding-top: 40px;
	padding-right: 32px;
	padding-left: 32px;

	color: var(--light);
	background-color: var(--primary-brand);

	transform: translateY(100%);
	transition: transform 250ms var(--timing-function);
}
.work-link:hover, .work-link:focus {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);	
} 
/* .portfolio-item-img {
	width: 360px;
	height: 300px;
} */
.work-link:hover .card-content,  .work-link:focus .card-content{
	
	transform: translateY(0);
}

	

/* ====================MODAL====================== */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);

	opacity: 1;
	transition: opacity 250ms var(--timing-function);
	
	
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;

	max-height: 98%;
	
	padding-top: 48px;
	padding-right: 24px;
	padding-bottom: 24px;
	padding-left: 24px;

	background: #FCFCFC;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	overflow: auto;
}
@media screen and (max-width: 479.98px) {
	.modal {
		width: 310px;
	}
}

@media screen and (min-width: 480px) {
	.modal {
		width: 392px;
	}
}
@media screen and (min-width: 768px) {
	.modal {
		width: 408px;
	}
}
.modal-button-close {
	position: absolute;
	top: 24px;
	right: 24px;

	width: 24px;
	height: 24px;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--accent);
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);

	cursor: pointer;

	color: #000000;
	transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.modal-icon-close {
	width: 8px;
	height: 8px;
	fill: currentColor;
}

.modal-button-close:hover,
.modal-button-close:focus {
	background-color: var(--ocean);
	color: var(--primary-white-color);
	border: transparent;
}

.modal-text {


	font-weight: 500;
	font-size: 16px;
	line-height: calc(24 / 16);

	text-align: center;
	letter-spacing: 0.02em;
	color: var(--dark);
}

.modal-form {
	/* width: 360px; */

	margin-left: auto;
	margin-right: auto;
	
}

.modal-group {
	display: flex;
	flex-direction: column;

	margin-bottom: 8px;

	font-size: 12px;
	line-height: calc(16/12);
	letter-spacing: 0.04em;
}

.modal-icon {
	position: relative;
}

.modal-input {
	width: 100%;
	margin: 0;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 38px;

	font-size: 18px;

	outline: transparent;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border 250ms var(--timing-function);
}



.modal-input:focus {

	outline: transparent;
	border: 1px solid var(--primary-brand);
	border-radius: 4px;
}

.name-input-icon {
	position: absolute;
	width: 12px;
	height: 12px;
	bottom: 14px;
	left: 19px;
	transition: fill 250ms var(--timing-function);
}
.phone-input-icon {
	position: absolute;
	width: 13px;
	height: 13px;
	bottom: 14px;
	left: 19px;
	transition: fill 250ms var(--timing-function);
}
.email-input-icon {
	position: absolute;
	width: 15px;
	height: 12px;
	bottom: 14px;
	left: 19px;
	transition: fill 250ms var(--timing-function);
}
.modal-input:focus+.name-input-icon, .modal-input:focus+.phone-input-icon, .modal-input:focus+.email-input-icon{
	fill: var(--primary-brand);
}
.modal-label {
	margin-bottom: 4px;
	color: var(--subtle-text);
}

.modal-comment {
	resize: none;
	padding: 8px 16px;
	outline: transparent;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border 250ms var(--timing-function);
	margin-bottom: 16px;
}

.modal-comment:focus {
	outline: transparent;
	border: 1px solid var(--primary-brand);
	border-radius: 4px;
}

.modal-comment::placeholder {
	color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
	width: 100%;
	position: relative;
	display: flex;
	margin-bottom: 24px;
}

.checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	position: absolute;
	z-index: 1;
	width: 16px;
	height: 16px;
	


	border: 1.25px solid var(--dark);
	border-radius: 2px;
	transition: border 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.checkbox-checked {
	position: absolute;

	z-index: 0;
	top: 0;
	left: 0;
	opacity: 0;
	width: 16px;
	height: 16px;
	padding: 2px 1px;
	
	border: 1.25px solid var(--ocean);
	border-radius: 2px;
	background-color: var(--ocean);
	fill: var(--light);
	transition: opacity 250ms var(--timing-function);
}
.checked {
	/* display: flex; */
	width: 10px;
	height: 8px;
}
.checkbox:checked {
	opacity: 0;
}
.checkbox:checked~.checkbox-checked {
	opacity: 1;
}


.modal-checkbox-label {
	user-select: none;
	font-size: 12px;
	line-height: calc(16/12);
	letter-spacing: 0.04em;
	color: #757575;
	margin-left: 24px;

}

.modal-policy {
	color: var(--primary-brand);
}

.modal-button-submit {
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

/**
  |============================
  | Mobile  menu
  |============================
*/
.menu {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

@media (max-width: 767.98px) {
	.menu {
		display: none;
	}
}

.menu-btn {
	padding: 0;
	margin-left: auto;
	background-color: transparent;
	border: none;
	color: #ffffff;
}

.menu-toggle {
	position: absolute;
	top: 40px;
	right: 40px;
	
	width: 24px;
	height: 24px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-color: var(--accent);
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	
	cursor: pointer;
	
	color: #000000;
	transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), border 250ms var(--timing-function);
}
.menu-icon-close {
	width: 8px;
	height: 8px;
	fill: currentColor;
}

@media (min-width: 768px) {

	.menu-toggle,
	.menu-btn {
		display: none;
	}
}

.menu-toggle:hover,
.menu-toggle:focus {
	background-color: var(--ocean);
	color: var(--primary-white-color);
	border: transparent;
}

.menu-container {
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;

	width: 100vw;
	height: 100vh;
	padding: 40px;
	padding-top: 80px;
	background-color: var(--primary-white-color);
	z-index: 999;

	transform: translateX(100%);
	transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
	transform: translateX(0);
}

.mobile-menu {
	margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
	margin-bottom: 40px;
}

.mobile-menu-link {
	display: block;
	text-decoration: none;
	font-weight: 700;
	font-size: 36px;
	line-height: calc (40/36);
	letter-spacing: 0.02em;
	text-transform: capitalize;

	color: var(--dark);
}

.mobile-menu-link.current {
	color: var(--primary-brand);
}
.mobile-contacts {
	margin-bottom: 48px;
}

.mobile-contacts-item:not(:last-child) {
	margin-bottom: 40px;
}

.mobile-contacts-link {
	text-decoration: none;
	font-weight: 500;
	font-size: 20px;
	line-height: calc(24/20);
	letter-spacing: 0.02em;
	color: var(--text);
}

.mobile-contacts-link.accent {
	font-weight: 700;
	font-size: 36px;
	line-height: calc (40/36);
	color: var(--primary-brand);
}
@media screen and (max-width: 479.98px) {
	.mobile-contacts-link.accent {
		font-weight: 500;
		font-size: 20px;
		line-height: calc(24/20);
		letter-spacing: 0.02em;
		color: var(--primary-brand);
	}	
}

.mobile-soc-icon {
	width: 24px;
	height: 24px;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus,
.mobile-menu-link.current:hover,
.mobile-menu-link.current:focus {
	color: var(--text);
}
.mobile-contacts-item:hover .mobile-contacts-link,
.mobile-contacts-item:focus .mobile-contacts-link,
.mobile-menu-link:active,
.mobile-menu-link.current:active {
	color: var(--primary-brand);	
}